<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockIn.Properties.Settings.sql2ConnectionString"
            connectionString="Data Source=desktop-v7k5hei\sqlexpress;Initial Catalog=sql2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StockIn.Properties.Settings.STOCKLOCATORConnectionString"
            connectionString="Data Source=BMSDC;Initial Catalog=STOCKLOCATOR;User ID=stocklocator;Password=BMS1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>